absl-py
altair
appnope
asttokens
astunparse
attrs
blinker
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
dill
exceptiongroup
executing
filelock
Flask
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
gmpy2
google-pasta
grpcio
h2
h5py
hpack
hyperframe
idna
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
munkres
namex
narwhals
nest_asyncio
networkx
nltk
numpy
opencv-python
opencv-python-headless
opt-einsum
optree
packaging
pandas
parso
patsy
pexpect
pickleshare
pillow
pip
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
smmap
stack-data
statsmodels
stemmer
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_estimator
termcolor
threadpoolctl
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
wcwidth
Werkzeug
wheel
wrapt
zipp
zstandard